 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     <title>Periodic Table of Elements</title>
     <meta name="description" content="periodic-table-prototype">
    <link rel="stylesheet" href="static/style.css">

     <!--[if lt IE 9]>
       <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
 </head>

 <body>

   <div class="container">
      {% for row in periodic_table %}
        {% set outer_loop = loop %}
          {% for element in row %}
              {% if element %}
                <div class="element element-{{element}}"
                      style="grid-row-start: {{outer_loop.index}};
                             grid-column-start: {{loop.index}};
                             grid-column-end: {{loop.index+1}};
                             background: rgb({{255-element}}, {{255-element}}, {{255-element}}) ">
                    <!-- Row nr. {{outer_loop.index}} -->
                    <h1 class="element-symbol">{{data[element]["symbol"]}}</h1>
                    <h2 class="element-name">{{data[element]["name"]}}</h2>
                    <span class="element-number">{{data[element]["number"]}}</span>

                </div>
              {% endif %}
          {% endfor %}
      {% endfor %}



   </div>

 </body>

 </html>
