 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     <title>Periodic Table of Elements</title>
     <meta name="description" content="periodic-table-prototype">
    <link rel="stylesheet" href="static/style.css">

     <!--[if lt IE 9]>
       <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
 </head>

 <body>

   <div class="container">
      {% for row in periodic_table %}
        {% set outer_loop = loop %}
          {% for item in row %}
              {% if item %}
                <div class="item item-{{item}}"
                      style="grid-row-start: {{outer_loop.index}}; grid-column-start: {{loop.index}}; grid-column-end: {{loop.index+1}}; ">
                    Row nr. {{outer_loop.index}}
                    Element nr. {{item}}
                </div>
              {% endif %}
          {% endfor %}
      {% endfor %}



   </div>

 </body>

 </html>
