body {
  font-family: sans-serif;
}

.container {
  width: 95%;
  margin: 2em auto;
  display: grid;
  grid-template-columns: repeat(18, 5.4%);
  grid-gap: 1px;
}

.container-lanthinides {
  width: 95%;
  margin: 2em auto;
  display: grid;
  grid-template-columns: repeat(18, 5.4%);
  grid-gap: 1px;
}

.element {
  border: 1px solid #ccc;
  height: 5em;
  text-align: center;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

h1,
h2 {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: .8em;
  font-weight: normal;
}

.element-number {
  font-size: .6em;
  position: absolute;
  left: .1em;
  top: .1em;
}

.element-symbol {
  display: block;
  width: 100%;
}

.diatomic-nonmetal {
  background: rgb(50, 167, 157);
}

.transition-metal {
  background: rgb(154, 146, 159);
}

.metalloid {
 background: rgb(89, 89, 89);
}

.noble-gas {
 background: rgb(182, 250, 244)
}

.post-transition-metal {
  background: rgb(105, 105, 105);
}

.polyatomic-nonmetal {
  background: rgb(10, 99, 164);
}

.alkali-metal {
  background: rgb(169, 178, 195);
}

.alkaline-earth-metal {
  background: rgb(224, 201, 210);
}

.actinide {
  background: rgba(196, 217, 66, 0.8);
}

.lanthanide {
  background: rgb(104, 203, 224);
}
