body {
  font-family: sans-serif;
}

.container,
.container-lanthinides {
  width: 95%;
  margin: 2em auto;
  display: grid;
  grid-template-columns: repeat(18, 5.4%);
  grid-gap: 0;
}

.element {
  border: 1px solid #ccc;
  height: 4.4em;
  text-align: center;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.element:hover {
  opacity: .85;
}

.element-details {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 10; /* Sit on top */
}

.element-details-content {
  background-color: #fefefe;
  margin: 1% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 2px solid #888;
  width: 35%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  position: relative;
  z-index: 10; /* Sit on top */
}

.close-element-details {
  cursor: pointer;
  position: relative;
  float: right;
  font-size: 2em;
}

.close-element-details:hover {
  color: red;
}

.title {
  margin-top: 1em;
}

h1,
h2 {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: .8em;
  font-weight: normal;
}

h3 {
  font-size: 1.7em;
}

dl {
  display: flex;
  flex-flow: row wrap;
}

dt {
  width: 30%;
  text-align: right;
  font-weight: 600;
}

dd {
  width: 59%;
  margin-left: 1.5em;
}

dd,
dt {
  margin-top: 1em;
}


.element-number {
  font-size: .6em;
  position: absolute;
  left: .1em;
  top: .1em;
}

.element-symbol {
  width: 100%;
  padding-top: .5em;
}

.element-name {
  font-size: .7em;
  align-self: flex-end;
  padding-bottom: .3em;
}


.category-colors-legend {
  position: absolute;
  top: 4em;
  left: -5em;
}

dd.category-colors,
dt.category-colors  {
  margin: 0;
  font-weight: 400;
  font-size: 1em;
}

span.transition-metal,
span.diatomic-nonmetal,
span.metalloid,
span.noble-gas,
span.post-transition-metal,
span.polyatomic-nonmetal,
span.alkali-metal,
span.alkaline-earth-metal,
span.actinide,
span.lanthanide {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 1em;
  filter: brightness(105%);

}

.diatomic-nonmetal {
  background: rgba(77, 209, 150, 0.75);
}

.transition-metal {
  background: rgba(183, 167, 193, 0.84);
}

.metalloid {
 background: rgba(159, 165, 176, 0.9);
}

.noble-gas {
 background: rgba(160, 186, 184, 0.71);
}

.post-transition-metal {
  background: rgba(142, 136, 129, 0.77);
}

.polyatomic-nonmetal {
  background: rgba(85, 150, 196, 0.94);
}

.alkali-metal {
  background: rgb(169, 178, 195);
}

.alkaline-earth-metal {
  background: rgba(182, 158, 168, 0.79);
}

.actinide {
  background: rgba(230, 226, 168, 0.71);
}

.lanthanide {
  background: rgba(103, 77, 193, 0.79);
}

img.element-image {
  width: 70%;
}
