 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     <title>Periodic Table of Elements</title>
     <meta name="description" content="periodic-table-prototype">
     <link rel="stylesheet" href="static/style.css">
     <script src="static/script.js" type="text/javascript"></script>
     <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
     <!--[if lt IE 9]>
       <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
 </head>

 <body>

  <h1 class="title">The Periodic Table of Elements</h1>

    <div class="category-colors-legend">
    <dl>
      {% for category in categories %}
        <dt class="category-colors"><span class="{{category}}"></span></dt>
        <dd class="category-colors">{{' '.join(category.split('-'))}}</dd>
      {% endfor %}
    </dl>
    </div>

   <div class="container">
     {% for row in periodic_table %}
       {% set outer_loop = loop %}
         {% for element in row %}
             {% if element %}
               <div class="element element-{{element}} {{'-'.join(data[element]['category'].split())}}"
                     style="grid-row-start: {{outer_loop.index}};
                            grid-column-start: {{loop.index}};
                            grid-column-end: {{loop.index+1}};
                            filter: brightness({{160-outer_loop.index*10}}%);"
                            onclick="document.getElementById('element-details-{{element}}').style.display = 'block'">
                   <h1 class="element-symbol">{{data[element]["symbol"]}}</h1>
                   <h2 class="element-name">{{data[element]["name"]}}</h2>
                   <span class="element-number">{{data[element]["number"]}}</span>
               </div>
             {% endif %}
         {% endfor %}
     {% endfor %}
   </div>

   <div class="container">
      {% for row in lanthanides_and_actinides %}
        {% set outer_loop = loop %}
        {% for element in row %}
          <div class="element element-{{element}} {{'-'.join(data[element]['category'].split())}}"
                style="grid-row-start: {{outer_loop.index}};
                       grid-column-start: {{loop.index+2}};
                       grid-column-end: {{loop.index+3}};
                       filter: brightness({{355-(element-outer_loop.index)*3}}%);"
                       onclick="document.getElementById('element-details-{{element}}').style.display = 'block'">
              <!-- Row nr. {{outer_loop.index}} -->
              <h1 class="element-symbol">{{data[element]["symbol"]}}</h1>
              <h2 class="element-name">{{data[element]["name"]}}</h2>
              <span class="element-number">{{data[element]["number"]}}</span>
          </div>
        {% endfor %}
      {% endfor %}
   </div>


   {% for row in periodic_table %}
     {% set outer_loop = loop %}
     {% for element in row %}
      {% if element %}
        <div class="element-details" id="element-details-{{element}}">
         <div class="element-details-content">
          <span class="close-element-details" onclick="close_modals()">&times;</span>
          <h3>{{data[element]["name"]}}</h3>
            <dl>
               <dt>Category</dt> <dd>{{data[element]["category"]}}</dd>
               <dt>Appearance</dt> <dd>{{data[element]["appearance"]}}</dd>
               <dt>Summary</dt> <dd>{{data[element]["summary"]}}</dd>
               <dt>Discovered by</dt> <dd>{{data[element]["discovered_by"]}}</dd>
               <dt>Melting point</dt> <dd>{{data[element]["melt"]}}&thinsp;K</dd>
               <dt>Boiling point</dt> <dd>{{data[element]["boil"]}}&thinsp;K</dd>
               <dt>Density</dt> <dd>{{data[element]["density"]}}&thinsp;g/cm<sup>3</sup></dd>
               <dt>Read more at: </dt> <dd><a href='{{data[element]["source"]}}' target="_blank">Wikipedia</a></dd>
               <dt>Image </dt>  <dd><img alt="element-image" class="element-image" src='http://images-of-elements.com/s/{{data[element]["name"]|lower}}.jpg' onerror="this.src='static/fallback-img.png'; this.classList.remove('element-image')" /></dd>
               <dt>More images and info: </dt>  <dd><a href='http://images-of-elements.com/{{data[element]["name"]|lower}}.php#a' target="_blank">here</a></dd>
            </dl>
           </div>
          </div>
       {% endif %}
     {% endfor %}
   {% endfor %}

   {% for row in lanthanides_and_actinides %}
     {% set outer_loop = loop %}
     {% for element in row %}
        <div class="element-details" id="element-details-{{element}}">
         <div class="element-details-content">
             <span class="close-element-details" onclick="close_modals()">&times;</span>
             <h3>{{data[element]["name"]}}</h3>
               <dl>
                  <dt>Category</dt> <dd>{{data[element]["category"]}}</dd>
                  <dt>Appearance</dt> <dd>{{data[element]["appearance"]}}</dd>
                  <dt>Summary</dt> <dd>{{data[element]["summary"]}}</dd>
                  <dt>Discovered by</dt> <dd>{{data[element]["discovered_by"]}}</dd>
                  <dt>Melting point</dt> <dd>{{data[element]["melt"]}}&thinsp;K</dd>
                  <dt>Boiling point</dt> <dd>{{data[element]["boil"]}}&thinsp;K</dd>
                  <dt>Density</dt> <dd>{{data[element]["density"]}}&thinsp;g/cm<sup>3</sup></dd>
                  <dt>Read more at: </dt> <dd><a href='{{data[element]["source"]}}' target="_blank">Wikipedia</a></dd>
                  <dt>Image </dt>  <dd><img alt="element-image" class="element-image" src='http://images-of-elements.coms/s/{{data[element]["name"]|lower}}.jpg' onerror="this.src='static/fallback-img.png'; this.classList.remove('element-image') " /></dd>
                  <dt>More images and info: </dt>  <dd><a href='http://images-of-elements.com/{{data[element]["name"]|lower}}.php#a' target="_blank">here</a></dd>
               </dl>
           </div>
          </div>
     {% endfor %}
   {% endfor %}

 </body>

 </html>
